{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="{% static 'board/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'board/css/selections.css' %}">
        
        <title>{% block title %} {% endblock %}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    </head>

    <header>
        {% block header %} {% endblock %}
    </header>
    
    <body>
        {% csrf_token %}
        {% block content %} {% endblock %}
    </body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        const selectElements = document.querySelectorAll('.custom-select');

        selectElements.forEach(selectElement => {
            selectElement.addEventListener('change', function() {
                const selectedValue = this.value;
                const selectedName = this.name;

                fetch('/update_questions/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({
                        "name": selectedName,
                        "value": selectedValue
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    updateQuestion(data, selectElement);
                })
                .catch(error => {
                    console.error('There was an error!', error);
                });
            });
        });
    
        function updateQuestion(questionHTML, selectElement) {
            let parentElement = document.getElementById('survey-board');
            
            let tempElement = document.createElement('div');
            tempElement.innerHTML = questionHTML;

            let questionElement = tempElement.querySelector('.selection');

            let nextQuestionElement = selectElement.parentElement.nextElementSibling;
            while (nextQuestionElement) {
                let currentNextQuestion = nextQuestionElement;
                nextQuestionElement = currentNextQuestion.nextElementSibling;
                parentElement.removeChild(currentNextQuestion);
            }

            questionElement.querySelector('.custom-select').addEventListener('change', function() {
                const selectedValue = this.value;
                const selectedName = this.name;
                
                console.log(selectedName, selectedValue);
                
                fetch('/update_questions/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({
                        "name": selectedName,
                        "value": selectedValue
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    updateQuestion(data, this);
                })
                .catch(error => {
                    console.error('There was an error!', error);
                });
            });

            let submitButton = tempElement.querySelector('a.submit-button');

            if (submitButton) {
                submitButton.addEventListener('click', function(event) {
                    // Отправка формы
                });
            }

            if (nextQuestionElement) {
                parentElement.replaceChild(questionElement, nextQuestionElement);
            } else {
                parentElement.appendChild(questionElement);
            }
        }
    });
</script>
